@import "partial";
body{
  width: $width;
  height:1000px;
}
#nav{
    background-image: url("bg-body.gif");
    width: $width;
    height: $height;
    margin:0;
  ul {
  list-style-type: none;
  margin-left: 5px;
  margin-top: 5px;
  @include display(inline);


  li {
    float: $float;
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
}
#dog{
  width:$width;
  height:500px;
  margin:10px 5px; ;

}
#content{
  width:1000px;
  height:350px;
  margin-left:$margin-left;
  float:$float;
}
.cat1{

 @include cat();

}
.cc{
 @include cc();
}
.red{
  color: $color;
}
p{
  text-align: justify;
}
.float{
  float: $float;
}

#footer {
  @include display(inline-block);
  background-color: lemonchiffon;
  width:$width;
  height:100px;


}
.foot{
  @include img();
}
#maroon{
  background-color: #65130b;
  width:$width;
  height:200px;
  @include  display(inline-block);
}
#footer2{
  width:$width;
  height: $height;
}
#end{
  width:$width;
  height: $height;
}
.mm{
  margin:5px 20px 20px 180px;
}
.mm1{
  margin:0 0 0 190px;
  padding:0;
}
.pets{
  float:left;
  margin:0px;
}

.sidebar{
  background-color:orange;
  position:absolute;
  width:500px;
  height:60px;
  margin-top:5px;
  margin-left:850px;
}
#f{
  margin:10px;
}
#s{
  background-color: orange;
}
#tabs{
  margin-top:10px;

}